.header__lang-link {
    width: 30px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:not(:last-child) {
    text-decoration-line: underline;
}

@media screen and (max-width: 700px) {
    
    .header__lang-link {
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    }
}