.place__title {
    grid-column: 1;
    grid-row: 1;
    max-width: 460px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 1152px) {
    
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 960px) {
    
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
    }
}

@media screen and (max-width: 721px) {
    
    .place__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        order: 1;
        padding-left: 16px;
    }
}