.place__paragraphs {
    max-width: 484px;
    min-height: 337px;
    grid-column: 2;
    grid-row: 2;
}

@media screen and (max-width: 1152px) {
    
    .place__paragraphs {
        max-width: 456px;
    }
}

@media screen and (max-width: 960px) {
    
    .place__paragraphs {
        max-width: 352px;
    }
}

@media screen and (max-width: 700px) {
    
    .place__paragraphs {
        max-width: 288px;
        order: 4;
        padding-left: 16px;
    }
}