.cover__title{
    max-width: 560px;
    max-height: 152px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    margin: 0;
}

@media screen and (max-width: 700px) {
    
    .cover__title {
        max-width: 255px;
        max-height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
}